<div class='projects__titles'>
  <span class='fw-bold'>Project</span>
  <span class='fw-bold'>{{capitalize framework}}</span>
  <span class='fw-bold'>{{capitalize platform}}
    <img src='../public/images/{{platform}}-logo.png' width='16' />
  </span>
</div>
